

.addPostContainernotvisible{

margin-top: 2em;
border-bottom: 1px solid #00ADB5;
padding: 1em 10em;

}

.addPostContainervisible{

    margin-top: 2em;
    border-bottom: 1px solid #00ADB5;
    padding: 5em 10em;
 
    
}

.avatarPost{

 display: flex;
 align-items: center;
 justify-content: space-around;

}

.inputs label{
    display: block;
    margin-left: 10px;
    padding: 0.5em;
    font-weight: 500;
}

.inputs .firstinput{

    
    background-color:#fff ;
    padding: 1em 8em;
    border-radius: 1em;
    margin-bottom: 1em;
    border: none;
   outline: none;

}



.avataraddpostvisible {
    position: relative;
    bottom: 5em;
    right: 7em;
}


.avataraddpostnotvisible {
    position: relative;
    bottom: 1em;
    right: 7em;
}


.notvisible{

    visibility: hidden;

}

.visible{

    visibility: visible;
    display: block;
    padding: 4em 8em;
    background-color: #EEEEEE;
    border: none;
    border-radius: 12px;
    margin: 0.5em;
    outline: none;

}

.inputes{

    padding: 1em;


}

.Button{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    margin-left: 20%;
}


/*@keyframes divWidht {

    from{padding: 1em 12em;}
    to{padding: 5em 12em;}
}*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #EEEEEE;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 12px;
    border-radius: 6px;
    font-weight: 500;
}