
.containerNewTrade{

  display: flex;
  flex-direction: column;
  padding-top: 5em;

}


.containerNewTrade>div{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 5px 0px;
}

.containerNewTrade>div>label{
    color: #222831;
    font-weight: 500;
    padding: 5px 0;
}

.containerNewTrade>div>input{
    padding: 12px 0;
    text-decoration: none;
    border:1px solid  #9fa1a3;
    
}

 .button-submit>button{
    
    padding: 14px 7px;
    border:none;
    color:antiquewhite;
    font-weight: 400;
    background-color: #222831;
    cursor: pointer;
} 

.button-submit{
    border: 1px solid antiquewhite;
    background-color: #222831;
    cursor: pointer;
}




@media only screen and (max-width: 1500px){

   
}

@media only screen and (max-width: 1000px){

    .containerNewTrade {
        display: flex;
        flex-direction: column;
        padding-top: 5em;
        height: 25em;
        overflow: auto;
    }

    .MuiBox-root.css-1wnsr1i{
        width: 17em;

    }

}
