

.barButton{
    font-size: 1.5em;
    padding: 10px 6em;
    border: none;
    background-color: inherit;
    margin-top: 15px;
    border-bottom: 1px solid lightblue; ;
    font-weight: 600;
    letter-spacing:2px;
    cursor: pointer;
    width: 100%;
}

.barButton:hover{

    background-color: aliceblue;
}


.barButton .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: black;
    font-size: 1.05em;
    font-weight: 500;
}

@media only screen and (max-width: 1000px){

    .barButton{

        padding: 10px 4em;

    }


}

@media only screen and (max-width: 500px){

    .barButton{

        padding: 8px 2em;

    }


}