


.NavBarContainer{
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    padding-right: 20em;
    height: 4em;
    /*border-bottom: 2px solid #e8f3ff;*/
    align-items: center;
    justify-content: space-between;
    background-color: #222831;
    color:#00ADB5;
}

.hamburgerMenu{
    display: none;
}

.avatarNavBar{

    position: absolute;
    right: 15em;
    top:2em;
    width: 3.0em;
    height: 3em;
    border-radius: 50%;
}

.avatarNavBar:hover{
   
    cursor: pointer;
}

.authButtons button{

    color: #00ADB5;
}

.SearchBar label,.SearchBar input{
    color: #00ADB5;
    border-color: #00ADB5;
}



@media only screen and (max-width: 1500px){

    .SearchBar{
        display: none;
    }

}

@media only screen and (max-width: 1000px){

    .links{
        display: none;
    }
    .hamburgerMenu{
        display: block;
        position: absolute;
        right: 5px;
        top:5px;
    }
    .authButtons{
        visibility: hidden;
    }

}














.authButtons{
    display: flex;
}

.authButtons>div{
    display: flex;
}