
  .containerProfilePage{

    display: flex;
    color: #222831;
  }


  .profileAvatar{

    display: flex;
    flex-direction: column;
    width: 30em;
    
  }

  .profileAvatar .profileUserName{

    font-size: 1.3em;
    font-weight: 600;
    margin: 1em;
  }

  .profileAvatar .profileImg img{

    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  .profileAvatar .profileImg{
  width: 17em;
  height: 21em;
  padding-top:8em;
  padding-left:  2em;

  }

  .profilePost{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60em;


  }


  


@media only screen and (max-width: 1000px){

    .containerProfilePage{

        display: flex;
        flex-direction: column;
        color: #222831;
      }
    

  .profileAvatar{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
   border-bottom: 1px solid #222831;
  }

  .profileAvatar .profileUserName{

    font-size: 0.9em;
    font-weight: 700;
    margin: 0.8em;
  }

  .profileAvatar .profileImg img{

    margin: 0.8em;
    width: 7em;
    height: 12em;
    border-radius: 15px;

  }

  .profilePost{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;


  }

   
}
