/* NavBar.css */
.NavBar-container {
    display: flex;
    height: 10vh;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .NavBar-container > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .NavBar-container i {
    margin: 0 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
  }
  
  .NavBar-LeftSide,
  .NavBar-MidleSide,
  .NavBar-RightSide {
    background-color: #ffffff;
    color: #606060;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .NavBar-RightSide img{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    box-shadow: 1px 1.2px blue;
  }
  
  .NavBar-MidleSide i {
    margin: 0 20px;
  }
  
  .NavBar-LeftSide,
  .NavBar-RightSide {
    flex-grow: 1;
  }
  
  .NavBar-LeftSide i,
  .NavBar-RightSide i {
    border-radius: 50%;
    padding: 6.7px;
    color: #606060;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .NavBar-container {
      flex-direction: column;
      height: auto;
    }
  
    .NavBar-MidleSide {
      order: 1;
      margin: 10px 0;
    }
  
    .NavBar-container i {
      margin: 0 10px;
    }
  
    .NavBar-LeftSide,
    .NavBar-RightSide {
      justify-content: center;
      flex-grow: 0;
    }
  }
  